<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vet')}">
<head>
    <meta charset="UTF-8"/>
    <title>Vets List</title>
</head>
<body>
<h1 th:text="'Vets List'">Vet List</h1>

<table class="table table-striped">
    <tr>
        <th style="width: 150px">ID</th>
        <th style="width: 150px">Firstmame</th>
        <th style="width: 150px">Lastname</th>

    </tr>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.getId()}"></td>
        <td th:text="${vet.getFirstName()}"></td>
        <td th:text="${vet.getLastName()}"></td>
    </tr>
</table>

</body>
</html>